.nav-ber {
    background-image: url(./banner1.png);
    height: 808px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -60px;
    text-align: right;
    padding: 200px;
}

.taitle {
    color: rgb(21, 20, 20);
    font-size: 65px;
    font-weight: 700;

}

.discription {
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    width: 160px;
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(241, 91, 34);
    border: none;
}

/* main start */
/* section1 */
.person {
    background: rgba(241, 91, 34, 0.2);
    width: 527.93px;
    height: 527.93px;
    left: 228.86px;
    border-radius: 100%;
    position: relative;
    /* margin-left: 200px; */
}

.person img {
    position: relative;
    bottom: 200px;
    right: 25px;

}

.section-1 {
    display: flex;
    margin: 140px 0px 130px 200px;
}

.section-container {
    padding: 0px 420px;
}

.section-taitle {
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
}

.discription>li {
    padding-top: 8px;
}

.section-2 {
    text-align: center;
    margin: 140px 325px 130px 230px;

}

.icons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.call {
    background-image: url(../images/watch.png);
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    margin: 140px;
    border-radius: 8px;
    background: linear-gradient(90.00deg, rgba(199, 108, 78, 0.795), rgba(241, 91, 34, 0) 100%);
    ;
}

#mindset {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding: 60px 600px 0px 60px;
}

#btn {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: rgb(199, 73, 23);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 20px 1000px 0px 30px;
      }